body {
    display: inline;
    background-image: url(../../fotos/Blue\ Corporate\ Medical\ Medium\ Banner.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}


header {
    background-color: transparent; 
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav>button {
    background-color: #ffffff;
    color: #00509e; 
    border: 2px solid #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav>button:hover {
    background-color: #003f7f; 
    color: #ffffff; 
    border-color: #003f7f;
}

nav>button:active {
    transform: scale(0.95); 
}
@media (max-width: 600px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }
}

h2 {
    color: #00509e; 
    text-align: center;
    margin-bottom: 20px;
}



table {
    width: 100%;
    border-collapse: collapse; 
    background-color: #ffffff; 
    font-size: 16px; 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px auto; 
    overflow: hidden; 
}


table td,
table th {
    border: 1px solid #cce7ff; 
    padding: 10px; 
    text-align: center; 
    color: #00509e; 
}

table th {
    background-color: #00509e; 
    color: #ffffff; 
    font-weight: bold;
}


table tr:nth-child(even) {
    background-color: #f0f8ff; 
}

table tr:nth-child(odd) {
    background-color: #ffffff; 
}


p {
    color: rgb(0, 149, 255); 
    font-style: italic; 
    text-align: center; 
    margin: 10px 0;}